.img-logo {
    height: 90px;
    width: 170px;
    padding-left: 10px;
}
.bg-abtus {
    background-color: #ffffff;
    background-size:cover;
}
.img-abt {
    height:50vh;
    width:70vh;
}
.abt-head {
    color:#41c2b7;
}
.bg-serv {
    background-color:#ebeff0;
    background-size: cover;
}
.bg-serv-card {
    background-color:#ffffff;
    height:30vh;
    width:57vh;
    margin:10px;
    border-radius:10px;
}
.serv-icon {
    height:50px;
    width:50px;
    font-size:30px
}
.bg-appoint {
    background-color:#ebeff0;
    width:30vw;
    height:70vh;
    border-radius: 5px;
}
.box-appear {
    margin:10px;
}
.box {
    width:28vw;
    height:40px;
    border-radius: 5px;
    border-width:0px;
}
.link-btn {
    text-align:left;
    width:12vw;
    margin:10px;
}
.bg-doc-card {
    background-color:#ffffff;
    height:55vh;
    width:50vh;
    margin:10px;
    border-radius: 5px;
}
.img-doc {
    height:20vh;
    width:100px;
    border-radius:50px;
    margin-left:100px;
    margin-top:12px;
}
.bg-doc-rate {
    background-color:#ebeff0;
    width:100px;
    color:gold;
}
.doc-para {
    font-size:13px;
    color:rgb(139, 123, 123);
}

.footer{
    background-color:var(#a4a9aa);
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:3rem;
}

.footer .box-container .box{
    text-align: center; 
}

.footer .box-container .box i{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 2rem;
    background-color: var(--blue);
    color: var(--white);
    margin-bottom: 1rem;
}

.footer .box-container .box h3{
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--blue);
}

.footer .box-container .box p{
    font-size: 1rem;
    color: var(--light-color);
    text-transform: none;
    line-height: 2;
}