.img-logo {
    height: 90px;
    width: 170px;
    padding-left: 10px;
}
.bg-abtus {
    background-color: #ffffff;
    background-size:cover;
}
.img-abt {
    height:50vh;
    width:70vh;
}
.abt-head {
    color:#41c2b7;
}
.bg-serv {
    background-color:#ebeff0;
    background-size: cover;
}
.bg-serv-card {
    background-color:#ffffff;
    height:30vh;
    width:57vh;
    margin:10px;
    border-radius:10px;
}
.serv-icon {
    height:50px;
    width:50px;
    font-size:30px
}
.bg-appoint {
    background-color:#ebeff0;
    width:30vw;
    height:70vh;
    border-radius: 5px;
}
.box-appear {
    margin:10px;
}
.box {
    width:28vw;
    height:40px;
    border-radius: 5px;
    border-width:0px;
}
.link-btn {
    text-align:left;
    width:12vw;
    margin:10px;
}
